.FooterContainer a {
    color: #666666;
    text-decoration: none;
    font-weight: 600;
    font-size: 0.75rem;
}

.FooterContainer a:hover {
    color: #0A66C2;
    text-decoration: underline;
}

.FooterContainer p {
    color: #666666;
    font-size: 0.75rem;
    margin: 0;
}

.grateLinks a {
    font-size: 0.8rem;
}

.dropdown button {
    width: 100%;
}