.w-80 {
    width: 80%;
}

.navBarContainer a {
    color: #666666;
    text-decoration: none;
    padding: 0;
    font-size: 0.8rem;
}

.navBarContainer a:hover {
    color: #000000;
}

.navBarContainer img {
    width: 25px;
    height: 25px;
}

.navBarContainer p {
    margin: 0;
}

/* TU */
.dropDownMenu a {
    font-weight: 600;
}

.dropDownMenu a:hover {
    text-decoration: underline;
}

.dropdown-toggle::after {
    display: none !important;
}

/* AZIENDE */
#aziendeCardLeft a {
    font-weight: 600;
    font-size: 1rem;
    color: #000000;
}

#aziendeCardLeft a:hover {
    text-decoration: underline;
}

.talent {
    font-weight: 600;
}

#aziendeCardRight .p1 {
    font-size: 0.9rem;
    font-weight: 600;
    color: #000000;
}

#aziendeCardRight a:hover {
    text-decoration: underline;
}

@media (max-width: 991px) {
    .dropdown-toggle::after {
        display: none !important;
    }

}